---
layout: default
title: Frequently Asked Questions about Chiropractic - Dr. Family
description_text:
short_description:
faqs:
  - question: What happens on my first visit at Droitwich Back & Neck Clinic?
    answer_html: >-
      <p>  Your chiropractor will begin by asking you some pertinent questions
      and listening attentively to what you have to say. If after this stage
      your problem sounds like something we can help with, then we will, with
      your permission, proceed to the Chiropractic assessment. Should we feel
      that you are not suitable for chiropractic care then we will refer you to
      a GP or a suitable specialist. Our assessment procedures have been
      designed to give us the maximum amount of information with the least
      amount of discomfort for you, the patient. You may be familiar with some
      of the tests if you have already consulted your GP or a consultant. Some
      will be unique to chiropractic. Droitwich Back & Neck Clinic use
      state-of-the-art thermographic and digital equipment to assess tension and
      range of motion in the spine and extremity joints. This aids us in
      compiling the most accurate diagnosis, and if appropriate, plan of
      treatment too. To find out more on our process click here.</p>
  - question: Am I a good candidate for chiropractic treatment?
    answer_html: >-
      <p>  Chiropractic care is a safe, effective treatment option for most
      people. During your first visit, your chiropractor will perform a thorough
      examination, order X-rays or other diagnostic tests, and discuss your
      medical history and symptoms before recommending a treatment plan.
      Although medication can temporarily dull your pain, your symptoms will
      return unless you address the cause. Chiropractic treatment treats the
      source of your pain, eliminating or reducing the need for pain killers or
      other medications. It's a good choice if you're experiencing sudden or
      chronic pain or have other symptoms, such as:</p> <ul>
        <li>
          Pain that affects any part of your body or shoots down your arms or legs          
        </li>
        <li>
          Joint pain
        </li>
        <li>
          Muscle pain, weakness, tingling or numbness
        </li>
        <li>
          Difficulty walking, maintaining your balance, or sitting or standing without pain
        </li>
        <li>
          Frequent headaches, fatigue or difficulty concentrating due to your symptoms    
        </li>
      </ul> <p>Chiropractic treatment can help relieve your symptoms naturally.
      Contact us if you're ready to schedule an appointment.</p>
  - question: How quickly will I see results?
    answer_html: >-
      <p> For a great explanation, check out Andrews video blog post. You can
      select blogs from the main menu or click here for further information.</p>
  - question: What kind of conditions do chiropractors treat?
    answer_html: >-
      <p>Chiropractic treatment focuses on your muscles, vertebrae, joints,
      tendons, and ligaments. The treatment may be a good choice if you
      experience joint, muscle or nerve pain after a car accident, fall or
      another type of injury. Accidents aren't the only cause of pain.
      Fortunately, your chiropractor can also treat back, neck or shoulder pain
      related to poor posture, overuse injuries, tendonitis, bursitis,
      arthritis, and other conditions. For further information on these
      conditions, click through to the most common conditions we treat.</p>
  - question: Testing deploy
    answer_html: <p>If this renders, it is synced</p>
keywords: []
page_scripts_code_block: |-
  <script> const faqs = Array.from(document.querySelectorAll('.faq'));  
    if (faqs.length > 0) {
      faqs.forEach(function (faq) {
        faq.addEventListener('click', function () {
          faq.firstElementChild.classList.toggle('inactive');
          faq.firstElementChild.classList.toggle('mt-4');          
          let other = faqs.filter(faq => faq !== this);
          other.forEach(function (btn) {
            let answer = btn.firstElementChild;
            answer.classList.add('inactive');
            answer.classList.remove('mt-4');
          });
        });
      });
    };
  </script>
---
<header class="bg-gray-50">
  <div class="container mx-auto flex flex-col items-center justify-end md:justify-center px-4 md:px-0 pb-8 pd:pb-0 pt-32">
    <h1 class="editable section-heading">
      Frequently Asked Questions
    </h1>
    <p class="editable text-base md:text-xl text-gray-700">
      Browse through some of our most popular questions. Still haven't found an answer? <a href="/contact" class="text-highlight hover:underline">Contact us.</a>
    </p>
  </div>
</header>
<main id="faqs" class="bg-gray-50">
  <div class="container mx-auto pb-20 px-4 md:px-0">
    <div class="flex flex-col w-full md:w-1/2 md:mx-auto gap-4">
      {% for faq in page.faqs %}
      {% include components/faq.html %}
      {% endfor %}
    </div>  
  </div>
</main>
{% include sections/cta.html %}