---
layout: default
title: Chiropractic Care - Droitwich Back & Neck Clinic
short_description: What happens when you first visit a chiropractor? We're here to answer some of your questions about your first visit.
header_background_image: /assets/images/droitwich-consulting-ipad.jpg
description_text:
column_sections:
  - heading: Before you arrive
    paragraph_html: >-
      <p>Please arrive ten minutes before your appointment start time in order to fill out a health questionnaire form prior to
      your consultation.
      <br><br>
      It’s best to allow an hour for your initial consultation. This will afford us enough time for a thorough case history
      and examination to make sure chiropractic treatment is appropriate to your needs.
      <br><br>
      Please make yourself familiar with the area and where to park. <a href="/contact">Directions and parking instructions can be found here.</a></p>
    image: /assets/images/droitwich-contact-us.jpg
    alt_text:
  - heading: During your consult
    paragraph_html: >-
      <p>Your chiropractor will begin by asking you some pertinent questions and listening attentively to what you have to say.
      If after this stage your problem sounds like something we can help with, then we will, with your permission, proceed to
      the Chiropractic assessment. Should we feel that you are not suitable for chiropractic care then we will refer you to a
      GP or a suitable specialist.
      <br><br>
      Our assessment procedures have been designed to give us the maximum amount of information with the least amount of
      discomfort for you, the patient. You may be familiar with some of the tests if you have already consulted your GP or a
      consultant. Some will be unique to chiropractic.
      <br><br>
      Droitwich Back & Neck Clinic use state-of-the-art thermographic and digital equipment to assess tension and range of
      motion in the spine and extremity joints. This aids us in compiling the most accurate diagnosis, and if appropriate,
      plan of treatment too. Please read some of our <a href="/faqs">frequently-asked-questions</a> for other common information about consults.</p>
    image: /assets/images/droitwich-adjusting3.jpg
    alt_text:
  - heading: After your initial consult
    paragraph_html: >-
      <p>Having listened carefully and examined you appropriately, we will then be able to give you a detailed report on what we
      have found and how we may be able to help you.<br><br>
      If appropriate, care may begin on the same day. Sometimes further information is needed in the form of scans or x-rays.
      At the end of the consultation, we like to allow some time for any questions you may have.<br><br>
      Do you still have questions? Check out our frequently asked questions or call our friendly staff for further
      information.</p>
    image: /assets/images/droitwich-consulting-ipad.jpg
    alt_text:
who_we_help_sections:
  - image: /assets/images/manual-worker.jpg
    heading: Manual Workers
    paragraph_html: >-
      Whatever your job is, the last thing you need is pain in your back and neck slowing you down, making it harder to work, and having a negative impact on your life outside work too. Repetitive physical work can lead to pain. We have seen many manual workers suffering from these issues, causing intense worry about potential inability to continue with work and loss of livelihood. We have helped many people like you get back to pain-free work and look forward to helping you too.
  - image: /assets/images/elderly.jpg
    heading: Seniors
    paragraph_html: >-
      Aging leads to loss of strength and flexibility. We also often find that small aches and pains can suddenly become big events in our lives. For some this can lead to a loss of independence or dignity. We understand how these issues affect your quality of life, and how physical pain can lead to a loss of leisure and social opportunities, and consequently a sense of isolation from friends and family, potentially leading to depression. We have helped large numbers of seniors get back to doing what they love, and look forward to doing the same for you.
  - image: /assets/images/office-workers.jpg
    heading: Office Workers
    paragraph_html: >-
      Today, with more of the workforce working in an office-based environment than ever before, chronic problems associated with being desk-bound for many hours are becoming more and more prevalent. Even with the most ergonomic workstation set-up, more and more office workers are suffering from posture-related problems such as low and upper back pain, as well as chronic neck pain and headaches. We understand the misery that such pain can cause, making it hard to concentrate and perform at work, with the pain also crossing over to your personal life, making it harder to do the things you love. We look forward to helping you on your road to recovery.
  - image: /assets/images/golf-swing.jpg
    heading: Active People
    paragraph_html: >-
      People come to us for the first time complaining of a variety of different problems, usually connected with the low back, neck and head. The one thing that everyone has in common, however, is a sense that something is missing from their life, that the pain is preventing them from doing the things they enjoy most and living life to the full. This can range from the ability to go hiking, to play football, to do DIY, gardening, dancing or to play with grandchildren. Whatever is causing you pain, frustration or distress, if we believe we can help you will receive a personalised care plan tailored specifically to achieving your goals. We look forward to helping you stay active for the long term.
why_us_section:
  icon_fill_color: '#f2f2f2'
  content:
    - heading: Trust
      paragraph_html: >- 
          <p>This is the cornerstone of any relationship. We will give you a clear explanation of what is going wrong, and what
          options are open to you. If we feel that you would be better served by another healthcare practitioner we will refer you
          to one.</p>
      icon: 
    - heading: Gentleness
      paragraph_html: >- 
        <p>Many people feel that chiropractic is just about ‘cracking bones’. Chiropractic has evolved from those early days to include many gentle techniques that don’t involve this and are just as effective. We suit the treatment to the patient, we are not a one size fits all clinic.</p>
      icon: 
    - heading: Respect
      paragraph_html: >- 
        <p>We respect that your right to be fully involved in and informed about your plan of care.</p>
      icon: 
    - heading: Tailored
      paragraph_html: >- 
        <p>We don’t adopt a ‘one size fits all’ approach. Each person who begins treatment will receive an individual plan,
        tailored to their personal needs and goals. We will take into account all factors of a person’s life, including diet,
        occupation, stress, and exercise when deciding how to treat.</p>
      icon: 
    - heading: Technology
      paragraph_html: >- 
        <p>Droitwich Back & Neck Clinic use state-of-the-art thermographic and digital equipment to assess tension and range of
        motion in the spine and extremity joints. This aids us in identifying the dysfunctional areas of the spine and therefore
        addressing the underlying causes of pain rather than just the symptoms.</p>
      icon: 
    - heading: Results
      paragraph_html: >- 
        <p>Our patients have an excellent record for achieving their goals and we are the highest rated clinic in Worcestershire
        according to Google Reviews. Click here to watch ad read our reviews.</p>
      icon: 
keywords:
  - what is chiropractic
  - chiropractic consultation
  - what does a chiropractor do
page_scripts_code_block: >-
        
---
<main class="atf-bg py-32 md:py-40 relative"
  style='background-image: url({% picture direct "{{page.header_background_image | default: "/assets/images/placeholder.jpg"}}" %});background-attachment:fixed;'>
  <div class="container mx-auto px-4 md:px-0 py-8 md:py-24">
    <h1 class="text-4xl md:text-6xl font-bold mb-6 editable text-gray-50 relative tracking-wide">
     Chiropractic Care: <span class="text-highlight">what to expect?</span>
    </h1>
    <p class="editable text-gray-50 lg:w-1/2 relative">
      If improving your health and wellbeing in a supportive caring environment is important to you, you will love
      Droitwich Back and Neck Clinic. Our team is dedicated to helping you heal from the inside out.
    </p>
  </div>
</main>

<section class="container mx-auto px-4 md:px-0 py-12">
  {% for section in page.column_sections %}
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mb-8 md:mb-12">
    <div class="col-span-1 {% cycle 'md:order-1', 'md:order-2' %} flex flex-col gap-4 justify-center">
      <h2 class="section-heading">{{section.heading}}</h2>
      <div class="column-section-paragraph">{{section.paragraph_html}}</div>
    </div>
    <div class="col-span-1 {% cycle 'md:order-2', 'md:order-1' %} p-6">
      <div class="rounded-lg overflow-hidden shadow-md">
        {% picture xlarge "{{section.image | default: '/assets/images/placeholder.jpg' }}" --img alt="{{section.alt_text}}" class="object-cover w-full h-full" %}      
      </div>
    </div>    
  </div> 
  {% endfor %} 
</section>
<div class="bg-gray-200">
  <section class="container mx-auto px-4 md:px-0 py-12">
    <h2 class="section-heading text-accent">Who we help</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-6">
      {% for item in page.who_we_help_sections %}
      <div class="who-we-help--wrapper group" style="background-image: url({{item.image}});">
        <div class="process-component flex flex-col items-center justify-center">
          <h3 class="who-we-help--heading">
            {{item.heading}}
          </h3>
          <div class="who-we-help--paragraph">
            {{item.paragraph_html}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
<div class="bg-gray-700">
  <div class="container mx-auto px-4 md:px-0 py-12">
    <h2 class="section-heading text-gray-100 text-center">Why Choose us?</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {% for item in page.why_us_section.content %}
      <div class="col-span-1 p-2 md:p-4 bg-gray-600 rounded-lg text-center">
        <div class="h-10 w-10 md:h-16 md:w-16 mx-auto mb-3">
          {% include chiro-icons.html icon=item.icon fill_color=page.why_us_section.icon_fill_color %}
        </div>
        <h3 class=" uppercase font-heading text-xl md:text-2xl text-highlight mb-4">
          {{item.heading}}
        </h3>
        <div class="text-gray-100 font-body text-sm">
          {{item.paragraph_html}}
        </div>
      </div>
      {% endfor %}      
    </div>
  </div>
</div>
{% include sections/cta.html %}