---
layout: default
title: About Us - Family Chiropractic
description_text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nemo corporis praesentium ipsum quae veritatis error reiciendis nulla libero numquam quia maiores unde, molestiae odio exercitationem iure corrupti voluptatem debitis!
short_description:
header_background_image: /assets/images/healthcare-websites-innate-creative-00006.jpg
profile_section_style: Default
page_scripts_code_block: >-
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function(){
      gsap.set('.team-member-image', { opacity: 0 });
      const imgs = document.querySelectorAll('.team-member-image')
      imgs.forEach(function(img){
        gsap.to(img, {
          scrollTrigger: {
            trigger: img,
            start: "top 70%",             
          },
          opacity: 1
        })
      });
    });
  </script>
---
<main class="atf-bg py-32 md:py-40 relative"
  style='background-image: url({% picture direct "{{page.header_background_image | default: "/assets/images/placeholder.jpg"}}" %});background-attachment:fixed;'>
  <div class="container mx-auto px-4 md:px-0 py-8 md:py-24">
    <h1 class="text-4xl md:text-6xl font-bold mb-6 editable text-gray-50 relative tracking-wide">
      Your health is <span class="text-tertiary">our priority</span>.
    </h1>
    <p class="editable text-gray-50 lg:w-1/2 text-lg relative">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum mollitia aspernatur consequuntur ipsum tenetur obcaecati possimus fugiat distinctio alias reiciendis maxime ducimus sequi repudiandae, assumenda perspiciatis quos sed ratione labore.
    </p>
  </div>
</main>
{% for member in site.data.staff.team_members %}
{% include components/team-profiles.html profile_style=page.profile_section_style %}
{% endfor %}
{% include sections/cta.html %}
{% include sections/map.html %}