---
layout: default
title: Droitwich Back and Neck Clinic
description_text: >-
  We are your local chiropractor serving the Droitwich, Worcester, Bromsgrove and Redditch communities. Dr. Andrew Robson's Holistic Health Process has helped many others get rid of pain. Book your initial consult today.
header_background_image: /assets/images/healthcare-websites-innate-creative-600w-00004.jpg
header_button_url: /book-online
keywords:
  - chiropractor Droitwich
  - back and Neck
  - chiropractor Bromsgrove
  - chiropractor worcester
  - chiropractors worcester
  - worcester chiropractor
  - worcester chiropractic
  - chiropractor redditch
page_scripts_code_block: |-
  <script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function(){
      gsap.set('.icons-card', {opacity: 0});
      ScrollTrigger.batch(".icons-card", {
          interval: 0.1,
          start: "top 80%",
          onEnter: (batch) => gsap.to(batch, {
            opacity: 1,
            stagger: 0.1
          }),
        });    
      gsap.set('.process-item', {
          opacity: 0,
          y: -20
        });
        ScrollTrigger.batch(".process-item", {
          interval: 0.3,
          start: "top 80%",
          onEnter: (batch) => gsap.to(batch, {
            opacity: 1,
            y: 0,
            stagger: 0.5
          }),
        });       
    });
    
  </script>
---
<div class="relative" style="background: rgb(43,59,76);
background: linear-gradient(114deg, rgba(43,59,76,1) 0%, rgba(88,125,166,1) 95%, rgba(114,149,176,1) 100%);">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-10 container mx-auto px-4 md:px-0 py-32 md:py-24">
    <main class="flex flex-col items-center md:items-end gap-3 justify-center relative text-center md:text-right">
      <h1 class="text-highlight text-base font-heading mb-3 text-center md:text-right uppercase">Chiropractor serving Droitwich, Worcester and Bromsgrove communities</h1>
      <h2 class="atf-main-heading editable text-center md:text-right">
        Holistic chiropractic care for <strong>your</strong> health.
      </h2>
      <p class="editable text-gray-100 text-center md:text-right">You can count on Dr. Andrew's experience in using chiropractic to help you live a pain-free life.</p>
      <div class="text-center md:text-right">
        <a href="/book-online" class="inline-block editable btn-highlight btn-default">
          Book Now
        </a>
      </div>
    </main>  
    <div class="atf-image">    
      {% picture xxlarge "{{page.header_background_image}}" --img class="object-cover w-full h-full" %}          
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1689834030">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25" class="shape-fill"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5" class="shape-fill"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>
</div>
<section class="container mx-auto relative">
  <div class="opening-section text-center py-8 md:py-12 px-4 md:px-0">    
    <div class="w-40 mx-auto mb-6">
      <img src="/assets/graphics/icon-15.svg" alt="feel good icon" class="object-cover w-full h-full">
    </div>
    <h2 class="section-heading editable ">Back to your best self.</h2>
    <p class="editable lg:w-2/3 lg:mx-auto">
      Living a healthy life means being pain free. It also means having the ability to fully participate in life. At Droitwich Chiropractic, we implement the Holistic Health Process helps you get out of pain and achieve long-term wellbeing. We have 2 goals for you:
    </p>
    <br>
    <ol>
      <li>Get you feeling and moving better quickly</li>
      <li>Improve the function of your body so you can continue to do what you love.</li>
    </ol>
    <div class="py-10">
      <a href="/new-patients" class="btn-highlight btn-default">Our Holistic Health Process</a>
    </div>
  </div> 
</section>
<section id="conditions" class="bg-gray-100 relative">
  <div class="container mx-auto py-8 md:py-24 px-4 md:px-0">
    <h2 class="editable section-heading text-main text-center md:text-left">
      Conditions we can help with
    </h2>
    <p class="editable text-gray-700 mb-4 sm:mb-6 text-center md:text-left">
      We are your local chiropractor serving the Droitwich, Worcester and Bromsgrove communities. By scheduling a consult with Dr. Andrew here at Droitwich Back and Neck clinic, we can help you with:
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 sm:gap-2 md:gap-6">
      {% for condition in site.conditions %}
      {% include components/conditions-card.html style="Icons" %}
      {% endfor %}
    </div>
    <div class="py-10 text-center">
      <a href="/book-online" class="btn-solid btn-default inline-block">Check availability</a>
    </div>
  </div>
</section>
<section class="bg-gray-200">
  <div class="default-container px-4 md:px-0 py-24 text-center">
    <h2 class="section-heading text-main editable">
      Our Holistic Health Process
    </h2>
    <p class="pb-8 lg:w-2/3 lg:mx-auto editable">Our focus at Droitwich Back and Neck Clinic is to help you overcome pain and physical limitations and get back to doing what you love.<br>    
    <br>    
    Our Holistic Health Process is how we bridge the gap from where you currently are, to where you want to be. We do this in a caring, patient centered way that leaves you feeling empowered about your health.
    <br><br>
    Here is how our unique process works:</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 md:gap-12 relative">
      <div class="process-item ">
        <div class="h-16 md:h-20 mx-auto mb-4">
          {% include chiro-icons.html icon='5' fill_color=site.data.theme.colors.accent_color classes="object-contain w-full h-full" %}
        </div>
        <h2 class="editable process-heading">
          We Listen.
        </h2>
        <p class="editable process-paragraph">
         This is the most important part, we always ensure you feel heard and understood.Dr. Andrew will spend time with you to listen to your health concerns and your goals. This is the foundation we help you rebuild your health from.
        </p>
      </div>
      <div class="process-item">
        <div class="h-16 md:h-20 mx-auto mb-4">
          {% include chiro-icons.html icon='26' fill_color=site.data.theme.colors.accent_color classes="object-contain w-full h-full" %}
        </div>
        <h2 class="editable process-heading">
          Examination
        </h2>
        <p class="editable process-paragraph">
          Our comprehensive examination process includes neurological, orthopedic, and musculoskeletal tests designed to
          establish an accurate diagnosis.
        </p>
      </div>
      <div class="process-item">
        <div class="h-16 md:h-20 mx-auto mb-4">
          {% include chiro-icons.html icon='11' fill_color=site.data.theme.colors.accent_color classes="object-contain w-full h-full" %}
        </div>
        <h2 class="editable process-heading">
          Personalized Treatment
        </h2>
        <p class="editable process-paragraph">
          Once the doctor has established a diagnosis, he will tailor a treatment plan specific to your needs and your
          health goals.
        </p>
      </div>
      <div class="process-item">
        <div class="h-16 md:h-20 mx-auto mb-4">
          {% include chiro-icons.html icon='15' fill_color=site.data.theme.colors.accent_color classes="object-contain w-full h-full" %}
        </div>
        <h2 class="editable process-heading">
          Prevention
        </h2>
        <p class="editable process-paragraph">
          When your initial goals have been met, we may recommend periodic maintenance adjustments, specific
          rehabilitation exercises, or lifestyle changes to help prevent problems from returning.
        </p>
      </div>
    </div>
  </div>
</section>
{% for member in site.data.staff.team_members %}
{% include components/team-profiles.html profile_style="Round" %}
{% endfor %}
{% include sections/cta.html %}
<section id="location">
  {% include sections/map.html %}
</section>
