<div class="bg-gray-700">
  <div class="container mx-auto px-4 py-2 md:px-0 flex flex-row justify-between md:justify-end gap-6">
    <a href="{{ site.data.settings.general.address_url }}" target="_blank" rel="noopener noreferrer">
      <address class="text-tiny sm:text-sm text-gray-50 not-italic font-body">
        {{site.data.settings.general.address}}
      </address>
    </a>
    <a href="tel:{{ site.data.settings.general.phone }}" class="text-tiny md:text-sm text-gray-50 font-body">
      {{site.data.settings.general.phone}}
    </a>    
  </div>
</div>