<section class="bg-green-800 py-12 md:py-24">
  <div class="container mx-auto text-center px-4 lg:px-0">
    <h2 class="editable text-3xl md:text-5xl mb-6 text-gray-50">
      Schedule an appointment now.
    </h2>
    <p class="editable text-gray-50 mb-6">
      Restore your healthier self and get rid of pain by calliong us or booking online and visiting us.
    </p>
    <div class="flex flex-row gap-8 items-center justify-center">
      <a href="tel:{{site.data.settings.general.phone}}"
        class="inline-block btn-light btn-default">Call us</a>
        <a href="/book-online" class="inline-block btn-light btn-default">Book online</a>
    </div>
  </div>
</section>
