<footer class="bg-gray-700 py-12 relative">
  <div class="container mx-auto grid grid-cols-6 gap-6 md:gap-4 justify-center items-center md:justify-between">
    <div class="col-span-6 md:col-span-3 md:order-1 lg:col-span-2 lg:order-none flex flex-col items-center justify-center md:items-start">
      <div class="footer-logo w-32 mb-6">
        <img src="{{ site.data.settings.branding.footer_logo_image }}"
          alt="{{site.data.settings.branding.site_title}} logo" class="object-contain w-32 h-full" loading="lazy">
      </div>
      <address class="footer-address">
        <a href="{{site.data.settings.general.address_url}}" target="_blank" rel="noopener noreferrer">
            {{site.data.settings.general.address.reference}}, {{site.data.settings.general.address.street_address}},
            {{site.data.settings.general.address.town_or_city}}, {{site.data.settings.general.address.post_code}},
            {{site.data.settings.general.address.state_or_province}}
        </a>
      </address>
      <a href="tel:+{{site.data.settings.general.phone}}" class="footer-phone">
        {{site.data.settings.general.phone}}
      </a>
    </div>
    <div class="footer-nav">
      {% for link in site.data.settings.navigation.menus %}
      {% if link.style_as_button %}
      <a href="{{link.url}}"
        class="btn-footer btn-solid">
        {{link.name}}
      </a>
      {% else %}
      <a href="{{link.url}}"
        class="footer-link">{{link.name}}</a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="col-span-6 md:col-span-3 md:order-2 md:mb-8 lg:mb-0 lg:col-span-2 lg:order-none">
      <h3 class="text-center md:text-right text-base text-accent mb-4 font-heading">Opening Hours</h3>
      <table class="mx-auto md:mx-0 md:ml-auto">
        {% for schedule in site.data.settings.opening_hours %}
        <tr class="border-separate">
          <td class="footer-schedule--day">
            {{schedule.day}}
          </td>
          <td class="footer-schedule--hours">
          {% unless schedule.opens == 'Closed' %}
          {{ schedule.opens }} - {{ schedule.closes }}
          {%else%}
          Closed
          {%endunless%}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="mt-4 text-center">
    <a href="https://innatewebsites.com" target="_blank" rel="noopener noreferrer"
      class="text-gray-500 text-xs hover:text-highlight transition-colors">Website by Innate Creative</a>
  </div>
</footer>