<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include sections/og.html%}
  {{site.data.settings.configuration.head_code_block}} 
  <meta name="ahrefs-site-verification" content="7ca365039ebf9c62b0e00709ea051abb4df90cdfb0803460623be23b6c6c57f6">
  <meta name="google-site-verification" content="e6H-50IkR8EWEYm6Dnz30z5RwsDxFyNBtd32IdlgybA" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js" defer></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="preload stylesheet" as="style" href="/style/main.css">
</head>