<div class="bg-gray-100 fixed sm:relative sm:top-0 w-full sm:w-auto z-50 shadow-md">
  {% include sections/alert-bar.html %}
  <div class="flex items-center justify-between px-4 md:px-0 py-2 md:py-4 container mx-auto">
    <a href="/" class="nav-logo">
      <img src="{{ site.data.settings.branding.nav_logo_image }}" alt="{{site.data.settings.branding.site_title}} logo" class="object-contain h-full w-full">
    </a>
    <!-- Full nav -->
    <nav id="nav-menu" class="hidden sm:flex flex-grow flex-col sm:flex-row justify-end items-center gap-12 sm:gap-4 lg:gap-8">
      {% for link in site.data.settings.navigation.menus %}
      {% if link.style_as_button %}
      <a href="{{link.url}}" class="btn-highlight btn-default">
        {{link.name}}
      </a>    
      {% elsif link.is_dropdown %}
      <div class="dropdown relative inline-block text-left">
        <div>
          <button type="button" class="dropdown-button" id="{{link.name | downcase | replace: ' ', '-'}}" aria-expanded="true" aria-haspopup="true">
            {{link.name}}
            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
              aria-hidden="true">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </div>
        <div class="dropdown-menu" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
          <div class="py-1" role="none">            
            {% for menu in link.submenus %}
            <a href="{{menu.url}}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">{{menu.name}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      <a href="{{link.url}}" class="menu-link">
        {{link.name}}
      </a>
      {% endif %}
      {% endfor %}  
    </nav>
    <button id="burger" class="sm:hidden">
      <svg id="burger-icon" xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
      </svg>
    </button>
  </div>
  <nav id="mobile-nav-menu" class="hidden md:hidden flex-grow bg-gray-200 flex-col justify-start items-end px-4 py-4 h-screen">
    {% for link in site.data.settings.navigation.menus %}
    {% if link.style_as_button %}
    <a href="{{link.url}}" class="inline-block btn-small btn-highlight my-8 py-1">
      {{link.name}}
    </a>    
    
    {% else %}    
      <a href="{{link.url}}" class="block py-2 w-full text-right text-base font-light tracking-wider focus:text-highlight transition-all border-b-2 border-gray-300">
        {{link.name}}
      </a>    
    {% endif %}
    {% endfor %}  
  </nav>
</div>
