<nav id="nav-bar" class="px-10 xl:px-24 py-4 flex justify-between items-center w-full bg-gray-200">
  <a href="/" class="w-48 flex-shrink-0 px-10 md:px-2 md:w-28 lg:w-48" aria-label="Homepage">
    <img src="{{site.data.settings.branding.nav_logo_image}}" alt="{{site.data.settings.branding.site_title}} logo" class="object-contain">
  </a>
  <div id="nav-bar-menu" class="nav-bar-menu absolute z-40 inset-0 transform -translate-x-full py-12 px-6 bg-gray-700 text-green-300 flex flex-col justify-around items-start md:items-center md:px-0 md:py-0  md:relative md:transform md:-translate-x-0 md:inset-auto transition-transform duration-300">
    <!-- Nav menu items are rendered from the `settings.yml` file located in the `_data` folder -->
    {% for menu in site.data.settings.navigation.menus %}
    {% unless menu.is_dropdown %}
    <a href="{{menu.url | append: '.html' }}" class="nav-bar-menu--item {% if menu.style_as_button %}py-2 px-6 bg-primary_color text-gray-100 rounded-full{%else%}px-4{% endif %} lg:ml-3 lg:text-base md:text-sm md:px-2 md:ml-1 uppercase tracking-wide hover:text-red-900 transition-colors duration-75">
    {{ menu.name }}
    </a>
    {% else %}
    <button class="nav-bar-menu--item group relative {% if menu.style_as_button %}py-2 px-4 bg-primary_color text-gray-100 rounded-full{% endif %} px-4 lg:ml-3 lg:text-base md:text-sm md:px-2 md:ml-1 uppercase tracking-wide hover:text-red-900 transition-colors duration-75">
      {{menu.name}}
      <div class="absolute bg-gray-300 flex flex-col group-hover:opacity-100 group-hover:z-90 group-focus-within:opacity-100 opacity-0 transition-opacity py-2 rounded w-full">
      {% for submenu in menu.submenus %}
        <a href="{{submenu.url | append: '.html' }}" class="">
        {{submenu.name}}
        </a>
      {% endfor %}
      </div>
    </button>
    {% endunless %}
    {% endfor %}    
  </div>
  <button id="burger" class="burger relative flex flex-col h-8 justify-between md:hidden w-10 z-50 transition-all">
    <span class="bg-green-300 h-1 w-full rounded-md"></span>    
    <span class="bg-green-300 h-1 w-full rounded-md"></span>
    <span class="bg-green-300 h-1 w-full rounded-md"></span>
  </button>
</nav>