.faq {
  @apply 
    border
    border-accent
    rounded-md
    tracking-wider 
    p-4
    focus:outline-none
    text-base    
    text-accent
    focus:bg-gray-100
    uppercase;
}

input,
textarea {
  &::placeholder {
    @apply
      text-gray-50;
  }
}

.social-share-icon {  
  aspect-ratio: 1 / 1 ;
  @apply
    block
    h-9
    w-9
    p-2
    rounded-full
    bg-gray-100;
  svg {
    fill: rgb(72, 72, 72);
  }
}

.condition-card {
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;  
    background-color:rgba(72, 72, 72, 0.4);
  }    
}
.icons-card {
  @apply
   relative rounded-md overflow-hidden border-2 border-gray-200 bg-gray-50 shadow-sm hover:shadow-lg hover:bg-gray-100 transition-all;
   &:hover {
    scale: 1.02;
   }
   .condition-title {
    @apply text-main text-center text-2xl md:text-3xl font-normal p-4 relative transition-colors;
   }
}

.section-heading {
  @apply
   text-4xl md:text-6xl mb-12 font-bold relative inline-block border-b-4 border-accent pb-2;
}
.process-component {
  @apply p-0 md:p-6 text-center flex-1;
  &--icon {
    @apply h-16 md:h-20 mx-auto mb-4;
  }
  &--heading {
    @apply text-2xl text-gray-50 font-bold mb-4;
  }
}