.default-container {
  @apply
  container
  mx-auto
}
.btn-default,
.btn-small {
  @apply
    rounded-md
    uppercase
    tracking-wider
    transition-all; 
}
.btn-default {
  @apply
    p-2
    md:p-3
    text-sm
    md:text-base;
    
}
.btn-small {
  @apply
    p-2
    text-sm;
    
}
.btn-footer {
  @apply inline-block text-xs p-2 md:px-1 rounded-md uppercase tracking-wider transition-colors;
}
.btn-solid {
  @apply 
  bg-accent
  text-gray-50
  hover:opacity-75;
}
.btn-light {
  @apply
  bg-gray-200
  text-accent
  hover:bg-gray-400;
} 
.btn-highlight {
  @apply
  bg-highlight
  text-gray-50
  hover:opacity-80;
}

.menu-link {
  @apply
  font-body text-sm md:text-base text-gray-700 hover:text-accent tracking-wider transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-highlight 
}
.dropdown-button {
  @apply font-body inline-flex justify-center w-full text-sm md:text-base tracking-wider text-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-highlight hover:text-accent transition-colors
}
.dropdown-menu {
  @apply transition-all origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-50;
}
.dropdown:focus-within,
.dropdown:focus {
  .dropdown-menu {
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: ease-in;
    transition-duration: 100ms;
  }
}
.dropdown-menu {
  display: none;
  opacity: 0;
  transform: scale(0.95);
  transition: ease-out 100ms;
}
.footer-nav {
  @apply hidden md:col-span-6 md:order-3 lg:col-span-2 lg:order-none md:flex flex-col md:flex-row flex-grow flex-shrink-0 justify-center items-center gap-3;
}
.footer-link {
  @apply text-gray-50 font-light text-xs font-body inline-block hover:text-accent transition-colors;
}
.footer-address {
  @apply text-gray-50 font-light text-sm font-body not-italic mb-2 hover:text-accent transition-colors text-center md:text-left;
}
.footer-phone {
  @apply text-gray-50 font-light text-sm font-body not-italic hover:text-accent transition-colors;
}
.footer-schedule {
  &--day,
  &--hours {
    @apply text-gray-50 text-sm font-body;
  }
  &--day {
    @apply font-semibold pr-4;
  } 
  &--hours {
    @apply font-light text-right pl-4;
  }
}

p {
  @apply text-base md:text-lg lg:text-xl;
}

.opening-section {
  ol, ul {
    li {
      @apply font-bold list-inside text-lg;
    }
  }
  ol {
    li {
      @apply list-decimal;
    }
  }
  ul {
    li {
      @apply list-disc;
    }
  }
}

.atf-bg,
.atf-bg-no-overlay,
.condition-card-bg,
.blog-post-bg,
.large-curved-bg {
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

.atf-main-heading {
  @apply text-4xl md:text-6xl font-bold mb-6 text-accent tracking-wide font-body text-right;
  text-shadow: 3px 2px 15px rgb(51, 51, 51);
}
.atf-bg {  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(55,55,55,1) 0%, rgba(236,236,236,0.44021358543417366) 50%);
  }
}
.atf-image {
  @apply rounded-3xl shadow-xl overflow-hidden h-64;  
}
.large-curved-bg {
  background-image: url(/assets/graphics/shapes/large-curved-bg.svg);  
}


.condition-content,
.markdown {
  blockquote {
    color: #444444;      
    border-left: 4px solid #319bdd;
    padding-left: 2rem;
    p {      
      font-size: 1.33rem;
      line-height: 1.4;
      font-style: italic;
    }
  }  
  h2 {
    @apply
      text-2xl
      md:text-4xl
      font-bold
      text-accent
      mb-6;
      &.small-title {
        @apply
          text-2xl
          text-gray-600
          uppercase;
      }      
  }
  h3 {
    @apply
      text-xl
      md:text-2xl
      font-light
      text-highlight
      uppercase
      mb-6;
  }

  h4 {
    @apply
      text-xl
      md:text-2xl
      font-semibold
      text-main
      mb-6;
  }
  p {
    @apply
      text-base
      md:text-lg      
      font-light
      text-gray-700
      mb-6;
      a {
        @apply
          text-highlight
          hover:opacity-80
          transition-colors;
      }   
  }
  ul,
  ol {
    @apply
      mb-6
      list-inside;
      li {
        @apply
          text-base
          lg:text-lg
          text-gray-500
          list-disc
          md:leading-10
          font-light;
      }
  }
}
#burger {
  svg {
    fill: '#333';
  }
}
svg#burger-icon.active {
  fill: #ee8035;
}
.inactive {
  @apply h-0 opacity-0 z-0;
}
.nav-logo {
  @apply
   w-20 md:w-40 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-highlight;
}
.round-profile {
  p {
    @apply text-gray-700 font-body font-light text-sm md:text-base md:mx-auto;
  }
}
.process-heading {
  @apply text-2xl text-highlight uppercase font-bold mb-4;
}
.process-paragraph {
  @apply text-gray-700 font-light text-base;
}

.custom-shape-divider-bottom-1689834030 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689834030 svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 59px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689834030 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1690316564 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690316564 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 54px;
}

.custom-shape-divider-bottom-1690316564 .shape-fill {
  fill: #f2f2f2;
}
.custom-shape-divider-top-1690317038 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1690317038 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 60px;
}

.custom-shape-divider-top-1690317038 .shape-fill {
  fill: #F2F2F2;
}
@screen md {
  .atf-image {
    height: 500px;
  }
}
.condition-atf-heading {
  @apply text-4xl md:text-6xl font-bold mb-6 text-accent relative tracking-wide;
  text-shadow:-2px 2px 3px #374151;
}
.alert-bar {
  @apply container mx-auto px-4 py-2 md:px-0 flex flex-row justify-between md:justify-end items-center gap-6;
}
