<div id="opening-hours" class="opening-hours p-4 md:p-8 bg-gray-200 rounded-md">
  <h3 class="text-lg text-highlight mb-4 font-heading">
    Opening Hours
  </h3>
  <table class="mb-4">
    {% for schedule in site.data.settings.opening_hours %}    
    <tr class="border-separate">
      <td class="text-gray-700 font-semibold text-sm pr-4">
        {{ schedule.day }}
      </td>
      <td class="text-gray-700 text-sm font-light text-right pl-4">
        {% unless schedule.opens == 'Closed' %}
        {{ schedule.opens }} - {{ schedule.closes }}
        {%else%}
        Closed
        {%endunless%}
      </td>
    </tr>
    {% endfor %}
  </table>
  <a href="/contact" class="inline-block btn-solid btn-small">
    Book now
  </a>
</div>