{% case include.profile_style %}
{% when "Default" %}
<section class="team-profile {% cycle 'bg-gray-200','bg-gray-50' %}">
  <div class="container mx-auto grid grid-cols-2 gap-8 px-4 md:px-0 ">
    <div class="col-span-1 py-4 md:py-8 flex flex-col justify-center {% cycle 'order-1','order-2' %}">
      <h2 class="text-accent font-semibold text-2xl md:text-5xl mb-2">
        {{ member.name }}
      </h2>
      <h3 class=" text-xl font-body font-semibold mb-6 text-highlight">{{ member.role }}</h3>
      <p class="editable text-gray-700 font-body font-light text-xs sm:text-sm md:text-base">
        {{ member.bio_html }}
      </p>
    </div>
    <div class="col-span-1 py-8 {% cycle 'order-2','order-1' %}">
      <div class="h-full md:h-96 md:w-80 md:mx-auto">
        {% picture jpt-webp "{{member.profile_image | default: '/assets/images/male-profile-placeholder.jpeg'}}" --img alt="{{ member.name }} photo"
        class="team-member-image object-cover object-center w-full h-full"%}
      </div>
    </div>
  </div>
</section>
{% when "Round" %}
<section class="team-profile bg-light">
  <div class="container mx-auto py-20 flex flex-col items-center justify-between">    
    <h2 class="editable section-heading text-main">
      Meet the Doctor
    </h2>
    <div class="mx-auto w-11/12 lg:w-1/3 bg-gray-50 rounded-md shadow-md">
      <div class="py-8">
        <div class="rounded-full overflow-hidden h-40 w-40 md:h-56 md:w-56 lg:h-60 lg:w-60 mx-auto">
          {% picture jpt-webp "{{member.profile_image | default: '/assets/images/male-profile-placeholder.jpeg'}}" --img alt="{{
          member.name }} photo"
          class="team-member-image object-cover object-center w-full h-full"%}
        </div>
      </div>
      <div class="px-4 py-4 md:py-8 flex flex-col justify-center text-center">
        <h2 class="text-accent font-semibold text-2xl md:text-4xl mb-2">
          {{ member.name }}
        </h2>
        <h3 class="text-highlight text-xl font-body font-semibold mb-6">{{ member.role }}</h3>
        <p class="editable text-gray-700 font-body font-light text-base md:text-lg md:mx-auto">
          {{member.bio_html | truncate: 300}}
        </p>
        <div class="text-center inline-block py-4">
          <a href="/about-us" class="btn-default btn-solid">About Dr. Andrew Robson</a>
        </div>
      </div>
    </div>
  </div>

</section>
{% endcase %}