---
layout: default
---
<div class="atf-bg py-32 mt-10 md:mt-0 md:py-40 relative mb-8" style='background-image: url({% picture direct "{{page.header_image}}" %});'>
  <div class="container mx-auto text-center mb-4 md:mb-8">
    <h1 class="condition-atf-heading">
      {{page.header_title}}
    </h1>
  </div> 
</div>
<section class="container mx-auto flex flex-row gap-20 relative">
  <main class="condition-content pb-12 px-4 lg:px-0">
    <h2 class="small-title">
      Chiropractic Adjustments for {{page.header_title}}
    </h2>    
    {{content}}
    {% include components/share-menu.html %}
  </main>
  <aside class="flex-shrink-0 hidden lg:block sticky top-0">
    <nav class="flex flex-col p-4 md:p-8 gap-4 justify-between rounded-md bg-main mb-6">
      <h2 class="font-heading text-xl text-accent">
        Browse all conditions:
      </h2>
      {% for condition in site.conditions %}
      <a href="{{condition.url}}" class="text-gray-50 font-light hover:text-accent">
        {{condition.header_title}}        
      </a>
      {% endfor %}
    </nav>
    {% include components/opening-hours.html %}
  </aside>  
</section>
{% include sections/cta.html %}
<script src="/js/share.js"></script>