---
layout: default
page_scripts_code_block: >-  
---
<div class="container mx-auto rounded-md pt-24 md:pt-8 px-4 md:px-0 pb-6">
  <div class="blog-post-bg py-32 md:py-40 relative mb-4 md:mb-8 rounded-md overflow-hidden" style="background-image: url({{page.feature_image}});">
    <div class="container mx-auto text-center mb-4 md:mb-8">
      <h1 class="text-4xl md:text-6xl font-bold mb-6 editable text-accent relative tracking-wide">
        {{page.title}}
      </h1>
    </div>
  </div>    
</div>
<section class="container mx-auto flex flex-row md:gap-20 relative mb-6 md:mb-12">
  <main class="condition-content flex-grow md:flex-grow-0 pb-12 px-4 lg:px-0">
    <div class="flex flex-row justify-between items-center mb-6">
      <div class="flex flex-col gap-1">
        <span class="text-sm md:text-base text-gray-500">
          By {{ page.author }}
        </span>        
        <span class="text-sm md:text-base text-gray-500">
          Published on: {{ page.date | date_to_string }}
        </span>
      </div>
      <div class="hidden sm:block">
        {% include components/share-menu.html %}
      </div>
    </div>
    <hr class="pb-8">
    <div class="markdown">
      {{ content }}
    </div>
    <div class="block sm:hidden mt-6">
      {% include components/share-menu.html %}
    </div>
  </main>
  <aside class="flex-shrink-0 hidden lg:block top-0">    
    {% include components/opening-hours.html %}
  </aside>
</section>
<section class="container mx-auto mb-6 md:mb-24 px-4 md:px-0">
  <h2 class="text-gray-600 text-3xl font-bold uppercase mb-4">More resources</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {% if page.previous %}
      {% assign previous = page.previous %}
    {% else %}
      {% assign previous = site.posts[0] %}
    {% endif %}   
    {% include components/blog-related-card.html post='previous' %} 
    
    {% if page.next %}
    {% assign next = page.next %}
    {% include components/blog-related-card.html post='next' %}
    {% endif %}
  </div>
</section>

{% include sections/cta.html %}
<script>
  function copyPageUrl() {
    const currentUrl = window.location.href;
    navigator.clipboard.writeText(currentUrl)
      .then(() => {
        alert("Link has been copied to clipboard!");
      })
      .catch(() => {
        console.log("Error: current URL could not be copied");
      });
  }
</script>